.gameItem{
	position: relative;
	border-radius: 8rem;
	overflow: hidden;
	img{
		width:112rem;
		height:112rem;

	}
	.floatingTap{
		position: absolute;
		width:38.5rem;
		height:38.5rem;
		background:url("./../../../assets/images/gameMenu/mark.png");
		background-size:100%;
		background-repeat: no-repeat;
		right:0;
	 
		img{
			position: absolute;
			top:3rem;
			width: 15.4rem;
			height: 13.47rem;
		}
	}

	.details{
		position: absolute;
		bottom: 0;
		// background: linear-gradient(to top,rgb(30, 120, 161) 60%,#ffffff00,);
		color:white;
		display:flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		align-items: flex-start;
		padding:2rem 6rem;
		height:35%;
		gap:0;
		filter:brightness(130%);
		span:first-child{
			font-size:10rem;
			font-weight:bolder;
		}
		span:last-child{
			font-size:14rem;
			font-weight:bolder;
		}
	}
}