.container{
	width:390rem;
	height:60rem;
	display:flex;
	align-items: center;
	// background:red;
	position: fixed;
	z-index: 2;
	bottom:0;
	background:white;
	box-shadow: 0px -4rem 4rem 0px #88888810 ;
}