.container{
	padding-block:20rem 4rem;
	width: 390rem;
	height:240rem;
	background:white;
	padding-block:0 80rem;
	display:flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding-inline:15rem;
	.title{
		width:360rem;
		margin:inline;
		text-align: start;
		font-size:16rem;
		font-weight: 600;
		color:#888;
		margin-block:10rem;
		position: relative;

		.buttons{
			position: absolute;
			right:10rem;
			top:0;
			display:flex;
			align-items: center;
			justify-content: center;
			gap:14rem;
			img{
				width:17rem;
				height:20rem;
			}
			img:first-child{
				
				transform: scaleX(-1);
			}
		}
	}
	.groups{
		display:flex;
		gap:6rem
	}
}